<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DPStatServiceEntities" connectionString="metadata=res://*/DpStatServiceModelEntity.csdl|res://*/DpStatServiceModelEntity.ssdl|res://*/DpStatServiceModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NWZRSVSQL21;initial catalog=DPStatTest;user id=DigPlatMon;password=XXXHidenPasswordXXX;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DefaultConnection" connectionString="Data Source=NWZRSVSQLXXX33XXX;Initial Catalog=DPStatService;Persist Security Info=True;User ID=DigPlatMon;Password=XXXHidenPasswordXXX"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  </connectionStrings>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RESTNWhubUri" value="https://apigateway.nwhub.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>